* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
}

#main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 1rem 5rem;
  height: 90vh;
}
ul {
  list-style-type: none;
}

.small-img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.list-item.active {
  background: rgb(2, 37, 111);
  color: #fff;
}

.large-img {
  height: 45rem;
  width: 40rem;
  object-fit: cover;
}

.img-container {
  text-align: center;
}

.img-container h4 {
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
}

.list-item h4 {
  padding-left: 1rem;
  text-overflow: clip;
}

h4 {
  font-weight: normal;
}

@media screen and (max-width: 1250px) {
  #main {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .large-img {
    height: 35rem;
    width: 30rem;
  }
}

@media screen and (max-width: 760px) {
  #main {
    grid-template-columns: 1fr;
  }
  .large-img {
    width: 28rem;
  }
}
