* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
}

#main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
  padding: 3rem;
  margin: 0 15rem;
  height: 90vh;
}
ul {
  list-style-type: none;
}

.small-img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.list-item.active {
  background: rgb(2, 37, 111);
  color: #fff;
}

.large-img {
  height: 45rem;
  width: 100%;
  object-fit: cover;
}

.img-container {
  text-align: center;
}

.img-container h4 {
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
}

.list-item h4 {
  padding-left: 1rem;
}

h4 {
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  #main {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 750px) {
  #main {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
}
